<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SuperSecretary.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <SuperSecretary.Settings>
            <setting name="LastSourcePath" serializeAs="String">
                <value>C:\Users\Public\Documents</value>
            </setting>
            <setting name="LastDestinationPath" serializeAs="String">
                <value>C:\Users\Public\Documents</value>
            </setting>
            <setting name="YearFormatString" serializeAs="String">
                <value>yyyy</value>
            </setting>
            <setting name="MonthFormatString" serializeAs="String">
                <value>MM</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\Users\Ray\Downloads\Test Folder</value>
            </setting>
        </SuperSecretary.Settings>
    </userSettings>
</configuration>
