<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="*" Name="SuperSecretary" Language="1033" Version="1.1.0.0" Manufacturer="Razium" UpgradeCode="2991cd21-2829-4544-a560-666ea89b682c">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <PropertyRef Id="NETFRAMEWORK35"/>
    <Condition Message="This application requires .NET Framework 3.5 or higher. Please install the .NET Framework and then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK35]]>
    </Condition>
    
    <Icon Id="icon.ico" SourceFile="Resources\icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <WixVariable Id="WixUILicenseRtf" Value="Resources\LICENSE.rtf"/>
    <WixVariable Id="WixUIDialogBmp" Value="Resources\Dialog.bmp"/>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SuperSecretary">
          <Directory Id="PLUGINSDIR" Name="Plugins" />
          <Directory Id="LOGSDIR" Name="Logs" />
        </Directory>
			</Directory>
		</Directory>
    
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="SuperSecretary.dll">
        <File Id="SuperSecretary.dll" Source="$(var.SuperSecretary.WinForms.TargetDir)SuperSecretary.dll" />
      </Component>
      <Component Id="SuperSecretary.WinForms.exe"> 
				<File Id="SuperSecretary.WinForms.exe" Source="$(var.SuperSecretary.WinForms.TargetPath)" />
			</Component>
      <Component Id="SuperSecretary.Console.exe"> 
				<File Id="SuperSecretary.Console.exe" Source="$(var.SuperSecretary.Console.TargetPath)" />
			</Component>
      <Component Id="taglib-sharp.dll">
        <File Id="taglib-sharp.dll" Source="$(var.SuperSecretary.WinForms.TargetDir)taglib-sharp.dll" />
      </Component>
      <Component Id="README.txt">
        <File Id="README.txt" Source="$(var.SuperSecretary.Console.TargetDir)\README.txt" />
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="PLUGINSDIR">
      <Component Id="PluginsFolder" Guid="48151623-4248-1516-2342-481516234248">
        <CreateFolder />
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="LOGSDIR">
      <Component Id="LogsFolder" Guid="81516234-2481-5162-3424-815162342484">
        <CreateFolder />
      </Component>
    </DirectoryRef>
      
		<Feature Id="ProductFeature" Title="SuperSecretary.Setup" Level="1">
			<ComponentRef Id="SuperSecretary.dll" />
      <ComponentRef Id="SuperSecretary.WinForms.exe" />
      <ComponentRef Id="SuperSecretary.Console.exe" />
      <ComponentRef Id="taglib-sharp.dll" />
      <ComponentRef Id="README.txt" />
      <ComponentRef Id="PluginsFolder"/>
      <ComponentRef Id="LogsFolder"/>
		</Feature>
  
    <UI>
      <UIRef Id="WixUI_Minimal" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch SuperSecretary" />

    <Property Id="WixShellExecTarget" Value="[#SuperSecretary.WinForms.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
	</Product>
</Wix>